<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BIGs Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="./assets/icon/star.png">
      </ion-avatar>
      <h2> Solar Breath </h2>&nbsp;&nbsp;&nbsp;&nbsp;
      <p> October 8, 2019</p>
    </ion-item>

    <img src="./assets/images/solar_logo02.png" />
    <ion-card-content>
      <ion-card-title>
        Job Overview
      </ion-card-title>
      <p>
        Broadband Information Gateway System เป็น Application ที่พยายามรวบรวมข้อมูลของโครงข่าย Broadband
        มีจุดประสงค์เพื่อ <br>
        1. ภาระหลักคือ Software ที่ทำหน้าที่เป็น Jigsaw ต่อเติมส่วนที่หายไปของโครงข่าย BroadBand <br>
        2. Focus ไปที่รายงานของแต่ละส่วนงาน ในโครงข่าย Broadband <br>
        3. อำนวยความสะดวกให้ผู้บริหารของโครงข่าย Broadband ในการดูข้อมูลสรุปแบบสั้นๆ <br>
        4. ไม่ทำหน้าที่ Software NMS ของระบบ Network <br>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>NMS Manager<br>(นิยาม : สมองใส ใจงาม นามอุโฆษ)</p>
    <img src="./assets/images/pong.png" padding />
    <ion-card-content>
      <ion-card-title>
        พงษ์ศักดิ์ แน่งน้อย
      </ion-card-title>
      <p>
        This Project for Broadband Data . Contact : pongsana@tot.co.th

      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>Developer<br>(อวยไส้แตก : รูปหล่อ มาดแมน แสนขยัน)</p>
    <img src="./assets/images/tong.png" padding />
    <ion-card-content>
      <ion-card-title>
        ยุทธพงศ์ คงอ่อน
      </ion-card-title>
      <p>
        This Project for Broadband Data . Contact : youtapong@hotmal.com

      </p>
    </ion-card-content>
  </ion-card>

  

  <ion-row>
    <ion-col width-50 style="text-align:center">

      <ion-button color="primary" small round large (click)="goToHome()">
        <ion-icon name="home"></ion-icon>&nbsp;Home
      </ion-button>
    </ion-col>

  </ion-row>



</ion-content>
