// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
/** lightgrey **/
  --ion-color-lightgrey: #f7f2f0;
  --ion-color-lightgrey-rgb: 247,242,240;
  --ion-color-lightgrey-contrast: #000000;
  --ion-color-lightgrey-contrast-rgb: 0,0,0;
  --ion-color-lightgrey-shade: #d9d5d3;
  --ion-color-lightgrey-tint: #f8f3f2;

 /** drakblue **/
  --ion-color-darkblue: #1d1e93;
  --ion-color-darkblue-rgb: 29,30,147;
  --ion-color-darkblue-contrast: #ffffff;
  --ion-color-darkblue-contrast-rgb: 255,255,255;
  --ion-color-darkblue-shade: #1a1a81;
  --ion-color-darkblue-tint: #34359e;

  /** Tong Color **/
  --ion-color-tong_color: linear-gradient(to left, #39a5fd, #aeebff, #aeebff, #39a5fd); /* for Ionic */
    --ion-color-tong_color-rgb: 23,46,234;
    --ion-color-tong_color-contrast: #ffffff;
    --ion-color-tong_color-contrast-rgb: 255,255,255;
    --ion-color-tong_color-shade: #1428ce;
    --ion-color-tong_color-tint: #2e43ec;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /// dark mode
  --ion-color-darkmode: #2c3181;
  --ion-color-darkmode-rgb: 44,49,129;
  --ion-color-darkmode-contrast: #ffffff;
  --ion-color-darkmode-contrast-rgb: 255,255,255;
  --ion-color-darkmode-shade: #272b72;
  --ion-color-darkmode-tint: #41468e;
}

.ion-color-darkmode {
  --ion-color-base: var(--ion-color-darkmode);
  --ion-color-base-rgb: var(--ion-color-darkmode-rgb);
  --ion-color-contrast: var(--ion-color-darkmode-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkmode-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkmode-shade);
  --ion-color-tint: var(--ion-color-darkmode-tint);
}

.ion-color-tong_color {
  --ion-color-base: var(--ion-color-tong_color);
  --ion-color-base-rgb: var(--ion-color-tong_color-rgb);
  --ion-color-contrast: var(--ion-color-tong_color-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tong_color-contrast-rgb);
  --ion-color-shade: var(--ion-color-tong_color-shade);
  --ion-color-tint: var(--ion-color-tong_color-tint);
}

.ion-color-darkblue {
  --ion-color-base: var(--ion-color-darkblue);
  --ion-color-base-rgb: var(--ion-color-darkblue-rgb);
  --ion-color-contrast: var(--ion-color-darkblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkblue-shade);
  --ion-color-tint: var(--ion-color-darkblue-tint);
}

.ion-color-lightgrey {
  --ion-color-base: var(--ion-color-lightgrey);
  --ion-color-base-rgb: var(--ion-color-lightgrey-rgb);
  --ion-color-contrast: var(--ion-color-lightgrey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightgrey-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightgrey-shade);
  --ion-color-tint: var(--ion-color-lightgrey-tint);
}

ion-alert {
  --background: #ffffff !important;
  --ion-text-color: rgb(21, 0, 113) !important;
  --ion-color-step-550: rgb(23, 116, 0) !important;
  --inner-border-width: 1;
}